body {
background-color: #f5ebe0;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #6d597a;
    font-family: "sans-serif", Times, serif;
    background-color: lightgrey;
      text-align: center;
  }
h3 {
  color: #354f52
}
